@using Microsoft.AspNetCore.Identity
@using CyberGuardian360.Models.EFDBContext
@inject SignInManager<UserRegistration> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CyberGuardian360</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CyberGuardian360.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 bgcolorgrey">
            <div class="container-fluid">
                <div class="logo">
                    <img src="~/images/logo.png" />
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end paddingright20px">
                    <ul class="navbar-nav mr-auto">
                        @if (TempData["IsLogged"] != null)
                        {
                            @if ((bool)TempData["IsLogged"] == true)
                            {
                                if (TempData["IsAdmin"] != null)
                                {
                                    if ((bool)TempData["IsAdmin"] == true)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-controller="Admin" asp-action="Index">
                                                <span aria-hidden="true"></span>Admin
                                            </a>
                                        </li>
                                    }
                                }

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="User" asp-action="SignOut">
                                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>Sign Out
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="User" asp-action="SignIn">
                                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>Sign In
                                    </a>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="User" asp-action="SignIn">
                                    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>Sign In
                                </a>
                            </li>
                        }
                      
                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer bluewhitecolor">
        <div class="container">
            &copy; 2024 - CyberGuardian360
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
